/* Reboot
--------------------------------------------------------------*/

$body-bg: #101010 !default;
$body-color: #D9D9D9 !default;

$link-color: #D9D9D9 !default;
$link-decoration: none !default;
$link-hover-color: #D9D9D9 !default;
$link-hover-decoration: none !default;

$text-muted: #2C2C2C !default;

$pathFont: 'assets/fonts/';

$screenW: 1920;
$screenH: 1080;

/* Own variables
--------------------------------------------------------------*/

$white: #D9D9D9;
$bright-white: #FCFCFC;
$gray: #2C2C2C;
$yellow: #E2FF00;
$black: #101010;
